#timer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
  }

.buttons{
	margin-top:5%;
}

.alert{
  display: none;
  justify-content: center;
  align-items: center;
  margin-top:7%;
}